* {
  margin: 0;
  padding: 0;
  user-select: none;
}
:root [data-theme="light"] {
  --bg-text: #1f2022;
  --bg-main: #ffff;
}

:root[data-theme="dark"] {
  --bg-text: #ffff;
  --bg-main: #1f2022;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--bg-main);
  color: var(--bg-text);
}
.navbar {
  height: 10vh;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Josefin Sans;
  padding: 8px;
  padding: 0 42px;
  align-items: center;
}

.list_style {
  font-size: 18px;
  display: flex;
  gap: 28px;
  text-decoration: none;
  list-style: none;
}

.list_style li {
  text-decoration: none;
}
.list_style li a {
  color: var(--bg-text);
  text-decoration: none;
}
.list_style li:first-child a {
  color: #00adb5;
  font-weight: bolder;
}

.logo {
  font-weight: bolder;
  font-size: 40px;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.hidden_list {
  display: none;
}
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.desc {
  font-size: 20px;
}
.left {
  display: flex;
  padding-left: 42px;
  width: 50%;
}
.left img {
  max-width: 100%;
}
.right {
  width: 50%;
  text-align: center;
}
.right h1 {
  font-family: Montserrat;
  color: #00adb5;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6px;
  font-size: 80px;
}
.desc {
  color: gray;
}
.icons {
  display: flex;
  margin-top: 52px;
  list-style: none;
  gap: 13px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
#css,
#html,
#js {
  font-size: 3em;
  background-color: var(--bg-main);
  color: var(--bg-text), 2px 2px 10px #00000080, 2px 2px 3px #00000080,
    inset 2px 2px 10px var(--bg-text), inset 2px 2px 10px var(--bg-text),
    inset 2px 2px 10px var(--bg-text), inset 2px 2px 10px var(--bg-text);
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  /* animation: animate 3s linear infinite; */
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#html {
  text-shadow: 0 0 50px orange, 0 0 100px orange, 0 0 150px orange,
    0 0 200px orange;
}
#js {
  text-shadow: 0 0 50px yellow, 0 0 100px yellow, 0 0 150px yellow,
    0 0 200px yellow;
}

#checkbox {
  visibility: hidden;
}
.toggle_btn {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.toggle_label {
  position: relative;
  border: 2px solid black;
  width: 3.5em;
  height: 2em;
  background-color: var(--bg-text);
  display: inline-block;
  border-radius: 10rem;
}
.toggle_ball {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: all 0.2s linear;
  background-color: var(--bg-main);
  display: inline-block;
}
#checkbox:checked + .toggle_label .toggle_ball {
  transform: translateX(1.5rem);
  background-color: #5fc3e4;
}
.hamburger {
  display: none;
}

@media (max-width: 1100px) {
  .list_style {
    display: none;
  }
  .logo {
    font-size: 30px;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    /* cursor: pointer; */
  }
  .hero {
    flex-direction: column;
    margin-top: 5rem;
  }

  #css,
  #html,
  #js {
    font-size: 40px;
  }
  .left {
    max-height: 80vh;
  }
  .right {
    margin-top: 3rem;
    width: 100%;
  }
  .bottom_nav {
    margin-top: 2rem;
    display: none;
  }
  .hidden_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .hidden_list li:first-child a {
    color: #00adb5;
    font-weight: bolder;
  }
  .hidden_list li a {
    text-decoration: none;
    color: var(--bg-text);
  }
  .hidden_list li {
    list-style: none;
  }
  #bars {
    display: none;
  }
  #bars:checked ~ .bottom_nav {
    display: block;
  }
  .icons {
    gap: 9px;
  }
}
@media (max-width: 645px) {
  #css,
  #html,
  #js {
    font-size: 30px;
  }
  .icons {
    gap: 2px;
  }
}
